.radio {
  & input {
    position: relative;
    display: block;

    /* TODO: border color theme configs */
    border: 1px solid #cccccc;
    border-radius: 50%;
    background: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      background: theme('colors.formAccent');
      border-radius: 50%;
      transform: scale(0.8);
      opacity: 0;
      transition: transform 0.17s ease-out, opacity 0.17s ease-in-out;
    }

    &:active {
      background: transparent;
      &::after {
        opacity: 0.2;
      }
    }

    &:checked {
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:global(.focus-visible) {
      outline: none;
      box-shadow: 0 0 0 3px color(theme('colors.formAccent') a(40%));
    }

    &::-ms-check {
      border-radius: 50%;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &:hover {
    & input:not(:checked) {
      border-color: theme('colors.formAccent');
    }
  }

  &.critical {
    & input {
      border-color: theme('colors.critical');
    }
  }
}

/* prettier-ignore */
.radio-small {
  & input {
    width: theme('spacing.small')px;
    height: theme('spacing.small')px;
  }
}

/* prettier-ignore */
.radio-regular {
  & input {
    width: theme('spacing.gutter')px;
    height: theme('spacing.gutter')px;
  }
}

/* prettier-ignore */
.radio-large {
  & input {
    width: theme('spacing.medium')px;
    height: theme('spacing.medium')px;
  }
}
