.input {
  position: relative;
  font-weight: theme('fontWeights.regular');

  & label {
    display: block;
    margin: 0;
    z-index: 1;
    & span {
      display: block;
      font-size: inherit;
      line-height: inherit;
      transition: all 150ms ease-out;
    }
  }

  &.empty:not(.outline) {
    & label {
      font-size: 16px;
      & span {
        transform: translateY(25px);
      }
    }
  }

  & input,
  & select,
  & textarea {
    display: block;
    border-radius: 0;
    position: relative;
    -webkit-appearance: none;
    font-family: theme('fontFamily.text');
    min-width: 0;
    width: 100%;
    z-index: 2;
    height: auto;
    min-height: auto;
    font-size: 16px;
    padding: 9px 0 4px 0;
    line-height: 24px;
    background: transparent;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e1e1e1;

    &:global(.focus-visible) {
      outline: none;
      border-color: theme('colors.formAccent');
    }
  }

  /* prettier-ignore */
  & select {
    padding-right: theme('spacing.medium')px;
  }

  & .chevron {
    position: absolute;
    top: 12px;
    right: 0px;
    padding: 0;
    z-index: 2;
  }

  &.outline {
    /* prettier-ignore */
    & label {
      margin-bottom: theme('spacing.xsmall')px;
      font-weight: theme('fontWeights.strong');
    }
    & input,
    & textarea {
      padding: 7px 10px;
      border: 1px solid #e1e1e1;
      border-radius: theme('border.radius.standard');
      &:global(.focus-visible) {
        box-shadow: 0 0 0 3px color(theme('colors.formAccent') a(40%));
      }
    }
    /* prettier-ignore */
    & select {
      border-radius: theme('border.radius.standard');
      padding: 7px theme('spacing.large')px 7px 10px;
      border: 1px solid #e1e1e1;
       &:global(.focus-visible){
        box-shadow: 0 0 0 3px color(theme('colors.formAccent') a(40%));
      }
    }
    & .chevron {
      right: 10px;
    }
  }

  &.critical {
    & input,
    & select {
      &:not(:focus) {
        border-color: theme('colors.critical');
      }
    }
  }
}
