@each $bp $i in $breakpoints {
  @if $i == 1 {
    @for $j from 1 through 24 {
      .u-col--span-#{$j}-0 {
        grid-column: span $j;
      }
    }
  }
  @media (min-width: #{$bp}px) {
    @for $j from 1 through 24 {
      .u-col--span-#{$j}-#{$i} {
        grid-column: span $j;
      }
    }
  }
}

@media (max-width: calc(map-get($breakpoints, 1) - 1)px) {
  .u-cols--collapse-0 > .u-col {
    grid-column: 1;
  }
}

@media (max-width: calc(map-get($breakpoints, 2) - 1)px) {
  .u-cols--collapse-1 > .u-col {
    grid-column: 1;
  }
}
