.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}

@responsive {
  @each $color $tone in $base-colors {
    .bg-#{$tone} {
      background-color: $color;
    }

    .tone-#{$tone} {
      color: $color;
    }

    [class*='border-'].border-color-#{$tone} {
      border-color: $color !important;
    }

    .tone-neutral.tone-neutral-on-#{$tone} {
      color: isLight(
        $color,
        map-get($base-colors, neutral),
        map-get($base-colors, neutralInverted)
      );
    }

    .tone-secondary.tone-secondary-on-#{$tone} {
      color: isLight(
        $color,
        map-get($base-colors, secondary),
        map-get($base-colors, secondaryInverted)
      );
    }
  }
}

.tone-inherit {
  color: inherit;
}
