.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}

@responsive {
  @each $color $tone in $foregroundColors {
    .tone-#{$tone} {
      color: $color;
    }
  }

  @each $color $tone in $backgroundColors {
    .bg-#{$tone} {
      background-color: $color;
    }

    [class*='border-'].border-color-#{$tone} {
      border-color: $color !important;
    }

    .tone-neutral.tone-neutral-on-#{$tone} {
      color: isLight(
        $color,
        theme('colors.foreground.neutral', black),
        theme('colors.foreground.neutralInverted', white)
      );
    }

    .tone-secondary.tone-secondary-on-#{$tone} {
      color: isLight(
        $color,
        theme('colors.foreground.secondary', black),
        theme('colors.foreground.secondaryInverted', white)
      );
    }
  }
}

.tone-inherit {
  color: inherit;
}
