[class*='inline-container']:not([class*='inline-container-none']) {
  padding-top: 1px;
  &:before {
    content: '';
    display: block;
  }
}

@responsive {
  @each $value $space in $spacingNumbers {
    .inline-container-#{$space} {
      &:before {
        margin-top: calc(($value + 1) * -1px);
      }
    }
    .inline-#{$space} {
      margin-left: -#{$value}px;
    }
  }
}
