@import "@64labs/bowline-design-system/base.css";
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul.bullets {
  list-style: disc;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

/* .content-area {
  @media (min-width: map-get($breakpoints, 2)px) {
    height: calc(100vh - 64px);
  }
} */

code.text {
  font-family: monospace;
}

.u-cols.props-table {
  grid-template-columns: 120px 270px 80px 1fr;
  align-items: center;
}

.props-table .u-col {
}

.mdx-text .text + .text {
  margin: 24px 0;
}

.mdx-text .text-heading + .text {
  margin: 24px 0;
}
