.checkbox {
  position: relative;

  & input {
    position: relative;
    display: block;
    /* TODO: border color theme configs */
    border: 1px solid #cccccc;
    border-radius: theme('border.radius.standard');
    background: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      background: theme('colors.formAccent');
      border-radius: theme('border.radius.standard');
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }

    &:active {
      background: transparent;
      &::after {
        opacity: 0.1;
      }
    }

    &:checked {
      &::after {
        opacity: 1;
      }
    }

    &:global(.focus-visible) {
      outline: none;
      box-shadow: 0 0 0 3px color(theme('colors.formAccent') a(40%));
    }

    &::-ms-check {
      border-radius: 50%;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  & .checkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    /* use background context for foreground color */
    color: white;
  }

  & input:checked + .checkIcon {
    display: block;
  }

  &:hover {
    & input:not(:checked) {
      border-color: theme('colors.formAccent');
    }
    & input:not(:checked) + .checkIcon {
      color: theme('colors.formAccent');
      display: block;
      opacity: 0.3;
    }
  }

  &.critical {
    & input {
      border-color: theme('colors.critical');
    }
  }
}

.checkbox-small {
  & input {
    width: theme('spacing.small');
    height: theme('spacing.small');
  }
}

.checkbox-regular {
  & input {
    width: theme('spacing.gutter');
    height: theme('spacing.gutter');
  }
}

.checkbox-large {
  & input {
    width: theme('spacing.medium');
    height: theme('spacing.medium');
  }
}
