@import '@64labs/bowline-design-system/base.css';
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

code.u-text {
  font-family: monospace;
  padding: 1px 5px;
  border-radius: 3px;
  background: color(map-get($base-colors, info) l(95%));
}

.u-cols.props-table {
  grid-template-columns: 120px 270px 80px 1fr;
  align-items: center;
}

.props-table .u-col {
}

.mdx-text .u-text + .u-text {
  margin: 24px 0;
}

.mdx-text .u-text-heading + .u-text {
  margin: 24px 0;
}
