.u-button {
  &.u-button--icon-only {
    width: auto;

    /* prettier-ignore */
    &.u-button--size-large {
      width: theme('spacing.xxlarge')px;
      height: theme('spacing.xxlarge')px;
    }

    /* prettier-ignore */
    &.u-button--size-regular {
      width: theme('spacing.xlarge')px;
      height: theme('spacing.xlarge')px;
    }

    /* prettier-ignore */
    &.u-button--size-small {
      width: theme('spacing.largeish')px;
      height: theme('spacing.largeish')px;
    }

    /* prettier-ignore */
    &.u-button--size-xsmall {
      width: theme('spacing.large')px;
      height: theme('spacing.large')px;
    }
  }

  & [class*='u-text--'] {
    line-height: 1;
  }

  /* prettier-ignore */
  &.u-button--size-large .u-button__inner {
    height: theme('spacing.xxlarge')px;
  }

  /* prettier-ignore */
  &.u-button--size-regular .u-button__inner {
    height: theme('spacing.xlarge')px;
  }

  /* prettier-ignore */
  &.u-button--size-small .u-button__inner {
    height: theme('spacing.largeish')px;
  }
}

@each $color $tone in $backgroundColors {
  .u-button.bg--#{$tone} {
    &.focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px color($color a(40%));
    }
  }
}

.u-button.bg--transparent {
  &.focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px color(theme('colors.background.focus') a(40%));
  }
}

.u-button--weight-link {
  position: relative;
  @include linkStyle();
}

/* TODO: consider making a component for pill button/link */
.u-button--weight-pill {
  border-radius: 24px;
  & .u-button--size-xsmall {
    border-radius: 18px;
  }
  & .u-button--size-small {
    border-radius: 20px;
  }
}
